*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://mrwallpaper.com/images/hd/sneaker-air-jordan-1-3x3-r05l0fjs4kwng12m.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .details a{
    width: 165px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #292630;
    transition: 0.2s;
    top: -290px;
    left: -35%;
     }

     button::after{
        content: "";
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle
        farthest-corner at 10% 20%, rgb(18, 30, 99)50.8%,
        rgb(97, 117, 182)100.2%);
        filter: blur(15px);
        z-index: -2;
        position: absolute;
        left:0;
        top:0;
     }
     button:active{
        transform: scale(0.1) ;
        background-image: radial-gradient(circle
        farthest-corner at 10% 10%, rgb(212, 35, 35)50%,
        rgb(69, 47, 170)50%);
        transition: 0.1s;
      

     }
